@import url("https://use.typekit.net/vet2zii.css");

/*  ---------Structure----------   */

* {
    font-family: league-gothic, sans-serif;
    font-weight: 100;
}

body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 6fr 70px;
    background-color: #333433;
    color: white;
    margin: 0px;
    font-size: 25px;
}

.user,
.result,
.leaderboard,
.instructions {
    visibility: hidden;
}


/*  ---------Logo----------   */

.logo {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 300px;
}

.logo img {
    max-width: 300px;
}


/*  ---------Login/User----------   */

.login,
.user {
    grid-column: 3 / 6;
    grid-row: 1 / 2;
}

.login form {
    margin-left: 10px;
    display: flex;
    align-items: center;
    width: 96%;
    height: 100%;
}

.login form .input-text {
    background-color: white;
    border-color: #EF5C36;
    width: 40%;
    height: 35px;
    border-radius: 10px;
    margin-right: 10px;
    font-size: x-large;
}

.login form .input-button,
.user form .input-button {
    background-color: #EF5C36;
    color: white;
    width: 10%;
    min-width: 65px;
    align-self: end;
    margin-bottom: 5px;
    border-radius: 6px;
    font-size: 25px;
}

.user form {
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 96%;
    height: 100%;
}


/*  ---------LeaderBoard----------   */

.leaderboard {
    grid-column: 1 / 5;
    grid-row: 2 / 3;
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-top: 3px solid #EF5C36;
    border-right: 3px solid #EF5C36;
    border-bottom: 3px solid #EF5C36;
}

.leaderboard h1 {
    color: black;
    font-weight: 1000;
}

.board-leaderboard {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #EF5C36;
    flex-flow: column;
    margin: auto;
    border-radius: 10px;
    height: 70%;
    width: 70%;
}

.leaderboard-table {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    width: 60%;
}

.leaderboard-table span {
    width: 100px;
    text-align: center;
}

.leaderboard .titles {
    border-bottom: 2px solid black;
    margin-bottom: 20px;
}

.leaderboard .titles,
.leaderboard .entries {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}


/*  ---------Game----------   */

.game {
    grid-column: 1 / 5;
    grid-row: 2 / 3;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: white;
    border-top: 3px solid #EF5C36;
    border-right: 3px solid #EF5C36;
    border-bottom: 3px solid #EF5C36;
}


/*  Board   */

.board {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #EF5C36;
    margin: auto;
    margin-top: 50px;
    border-radius: 10px;
    height: 60%;
    width: 80%;
}

.gaming-holes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.up-holes,
.down-holes {
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.hole {
    display: flex;
    border-radius: 15px;
    margin: 7px;
    width: 50%;
    height: 80%;
    align-items: center;
}

.up-holes .hole,
.hole.big.left {
    flex-flow: column-reverse;
}

.down-holes .hole,
.hole.big.right {
    flex-flow: column;
}

.hole .counter {
    display: flex;
    height: 20%;
    border-radius: 15px;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: x-large;
}

.hole .seeds-place {
    position: relative;
    background-color: #333433;
    height: 80%;
    border-radius: 15px;
    width: 100%;
    border: 0.3vw inset #a7462e;
}

.hole.big {
    width: 20%;
    height: 90%;
}

.hole.big.left {
    margin-left: 2%;
}

.hole.big.right {
    margin-right: 2%;
}

.seed {
    position: absolute;
    background-color: beige;
    width: 1.5vw;
    height: 1.5vw;
    border-radius: 3vw;
    border: 0.1vw outset #333433;
    box-shadow: 0.2vw 0.3vw 1vw #636161;
}


/*  Messages   */

.messages {
    background-color: #636161;
    margin: 50px;
    border: 3px solid #EF5C36;
    width: 55%;
    height: 150px;
    overflow-y: scroll;
    line-height: 80%;
    border-radius: 5px;
}

.messages .center {
    text-align: center;
}

.messages .end {
    text-align: end;
}

.messages .start {
    text-align: start;
}


/*  ---------Config/Result----------   */

.config,
.result {
    grid-column: 5 / 6;
    grid-row: 2 / 3;
    margin: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}

.config form,
.result {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100%;
}

.config label,
.config label span {
    width: 100%;
    text-align: center;
}


/* Hide radio buttons  */

.game-mode [type=radio],
.turn [type=radio],
.single-difficulty [type=radio] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

.game-mode [type=radio]+span,
.turn [type=radio]+span,
.single-difficulty [type=radio]+span {
    cursor: pointer;
    background-color: white;
    color: black;
    font-weight: bold;
    border-radius: 10px;
    padding: 10px;
}

.game-mode [type=radio]:checked+span,
.turn [type=radio]:checked+span,
.single-difficulty [type=radio]:checked+span {
    background-color: #EF5C36;
}

.game-mode,
.turn,
.single-difficulty {
    margin-bottom: 25px;
}

.holes,
.seeds,
.result .player-1,
.result .player-2 {
    display: flex;
    background-color: white;
    color: black;
    max-width: 250px;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    height: 40px;
    margin-bottom: 25px;
    margin-left: 10px;
}

.holes span,
.seeds span {
    padding-left: 5px;
    padding-right: 5px;
}

.holes input,
.seeds input {
    border-style: none none none solid;
    border-width: 3px;
    border-color: #EF5C36;
    justify-content: center;
    padding-left: 15px;
    width: 25%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 95%;
    text-align: center;
    font-size: 25px
}

.config form .input-button,
.result form .input-button,
.config form .start-button,
.result form .quit-button {
    background-color: #EF5C36;
    color: white;
    width: 10%;
    min-width: 65px;
    align-self: center;
    border-radius: 6px;
    margin-bottom: 15px;
    font-size: 25px;
}

.go-to-instructions,
.go-to-leaderboard,
.go-to-game {
    background-color: #EF5C36;
    color: white;
    width: 10%;
    align-self: center;
    border-radius: 6px;
    margin-bottom: 15px;
    padding: 2px;
    border: 2px outset #6d6d6d;
    text-decoration: none;
    text-align: center;
    min-width: 100px;
    cursor: pointer;
}

.go-to-game {
    display: none;
}

.result .player-2,
.result .player-1 {
    width: 70%;
}

.result .player-2 {
    flex-flow: row-reverse;
}

.result .name {
    height: 100%;
    width: 75%;
    align-items: center;
    justify-content: center;
    display: flex;
}

.result .points {
    width: 25%;
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
}

.result .player-2 .points {
    border-right: 3px solid#EF5C36;
}

.result .player-1 .points {
    border-left: 3px solid#EF5C36;
}

.result .timer{
    margin-bottom: 20px;
}

.result .timer span{
    font-size: xx-large;
}


/*  ---------Instructions----------   */

.instructions {
    grid-column: 1 / 5;
    grid-row: 2 / 3;
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-top: 3px solid #EF5C36;
    border-right: 3px solid #EF5C36;
    border-bottom: 3px solid #EF5C36;
}

.instructions h3 {
    color: black;
}

.slideshow-instructions {
    background-color: #EF5C36;
    border-radius: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 70%;
    height: 70%;
    align-items: center;
    justify-content: center;
}


/* Next & previous buttons */

.prev-arrow,
.next-arrow {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: black;
    font-weight: bold;
    font-size: 18px;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.prev-arrow {
    left: 0;
}

.next-arrow {
    right: 0;
}


/* Rules pages indicator */

.rules-page {
    color: white;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
    right: 0;
}


/* Dots indicators */

.dots {
    align-self: center;
    position: absolute;
    bottom: 10px;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #000000;
}


/* Fading animation */

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

.rules {
    width: 80%;
    align-self: center;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}


/* ---------Popup---------- */

.popup {
    background: rgba(0, 0, 0, .4);
    cursor: pointer;
    display: none;
    height: 100%;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 10000;
}

.popup .helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.popup>div {
    background-color: #EF5C36;
    box-shadow: 10px 10px 60px #555;
    display: inline-block;
    height: auto;
    max-width: 551px;
    min-height: 100px;
    vertical-align: middle;
    width: 60%;
    position: relative;
    border-radius: 8px;
    padding: 15px 5%;
}

.popup-close {
    background-color: #636161;
    border: 3px solid #333433;
    border-radius: 50px;
    cursor: pointer;
    display: inline-block;
    font-family: arial;
    font-weight: bold;
    position: absolute;
    top: -20px;
    right: -20px;
    font-size: 25px;
    line-height: 30px;
    width: 30px;
    height: 30px;
    text-align: center;
    color: #EF5C36;
}

.popup-close:hover {
    background-color: #868585;
}

.popup .container {
    display: flex;
    flex-flow: column;
}

.popup .container .player {
    display: flex;
    flex-flow: column;
}

.popup .container .scores {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-around;
}

.popup .container .player span {
    margin: 10px;
}

.popup .restart-button {
    font-size: 25px;
    align-self: center;
    color: white;
    background-color: #333433;
    border-radius: 5px;
    margin-top: 20px;
}


/* ----------Footer---------------- */

footer {
    grid-column: 1 / 7;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    font-weight: lighter;
    border-top: 3px solid#EF5C36;
    background-color: #636161;
}

cursor: pointer;
display: inline-block;
font-family: arial;
font-weight: bold;
position: absolute;
top: -20px;
right: -20px;
font-size: 25px;
line-height: 30px;
width: 30px;
height: 30px;
text-align: center;
color: #EF5C36;

}
.popup-close:hover {
    background-color: #868585;
}
.popup .container {
    display: flex;
    flex-flow: column;
}
.popup .container .player {
    display: flex;
    flex-flow: column;
}
.popup .container .scores {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-around;
}
.popup .container .player span {
    margin: 10px;
}
.popup .restart-button {
    font-size: 25px;
    align-self: center;
    color: white;
    background-color: #333433;
    border-radius: 5px;
    margin-top: 20px;
}

/* ----------Footer---------------- */
footer {
    grid-column: 1 / 7;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    font-weight: lighter;
    border-top: 3px solid#EF5C36;
    background-color: #636161;
}